[submodule "django-ovp-users"]
	path = django-ovp-users
	url = https://github.com/OpenVolunteeringPlatform/django-ovp-users.git
[submodule "django-ovp-projects"]
	path = django-ovp-projects
	url = https://github.com/OpenVolunteeringPlatform/django-ovp-projects.git
