[submodule "django-ovp-users"]
	path = django-ovp-users
	url = https://github.com/OpenVolunteeringPlatform/django-ovp-users.git
[submodule "django-ovp-projects"]
	path = django-ovp-projects
	url = https://github.com/OpenVolunteeringPlatform/django-ovp-projects.git
[submodule "django-ovp-core"]
	path = django-ovp-core
	url = https://github.com/OpenVolunteeringPlatform/django-ovp-core.git
[submodule "django-ovp-uploads"]
	path = django-ovp-uploads
	url = https://github.com/OpenVolunteeringPlatform/django-ovp-uploads.git
[submodule "django-ovp-search"]
	path = django-ovp-search
	url = https://github.com/OpenVolunteeringPlatform/django-ovp-search
