codecov==2.0.5
coreapi==2.0.8
coverage==4.2
Django==1.10.1
django-extensions==1.7.4
django-git-submodules==1.0.0
django-rest-swagger==2.0.5
djangorestframework==3.4.7
djangorestframework-jwt==1.8.0
itypes==1.1.0
openapi-codec==1.1.2
ovp-core==0.1.2
ovp-projects==0.1.0
ovp-users==1.0.5
ovp-uploads==0.1.1
PyJWT==1.4.2
python-dateutil==2.5.3
requests==2.11.1
simplejson==3.8.2
six==1.10.0
uritemplate==3.0.0
